html
{
	height: 100%;
}

body
{
    overflow: hidden;
}

textarea
{
	resize: none;
	font-size: 0.85em;
}

.custom-container
{
	padding-top: 1%;
	padding-left: 30px;
}

.logo
{
	margin-top:  10px;
    margin-left: 10px;
	width: 85%;
}

.total-horas-abap
{
	padding-top: 1%;	
}

.ftr-otd
{
	padding-top: 1%;	
}

.row
{
	margin-top: 0px;
	margin-bottom: 10px;
}

.inner-row
{
	margin-bottom: 0px;
}

.col
{
	margin-right: 10px;
	border-radius: 5px;
}

.inner-col
{
	margin-right: 0px;
}

.col h1
{
	text-align: center;
	font-size: 1.0em;
}

.col h2
{
	text-align: center;
	font-size: 3.0em;
}

.row .table
{
	font-size: 0.80em;
}

.row .table th
{
	border-top: 0px;
}

.carousel-item table thead th
{
	font-size: 0.60em;
}

.carousel-item table tbody td
{
	font-size: 0.60em;
}
