.titulo-disponibilidade
{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 0.7em;
	color: rgb( 102, 102, 102 );
}

.titulo-pendencias
{
	margin-top: 8px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 0.75em;
	color: rgb( 102, 102, 102 );	
}